/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
.container{
	/* border:1px solid black; */
	width:100vw;
	height:40vh;
}
.bar-circle{
	width:100vw;
	margin-top:1rem;
	display:flex;
}
.btn{
	
	margin:1rem;
}
.circle{
	border:1px solid black;
	height:6rem;
	width:6rem;
	border-radius:50%
}
.bar{
	border:1px solid black;
	width:2.3rem;
	height:.5rem;
	margin-top:2.7rem;
}
#circle-1{
	background:#9883e5;
}
